* {
padding: 0;
margin: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
box-sizing: border-box;
}
/*hero section*/
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(..//assets/image/background-image.jpg);
    background-size: cover;
    background-position: top;
}
/*nav bar*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color:rgb(231, 228, 223);
    font-size: 40px;
    letter-spacing: 3px;
    cursor: pointer;
}
span{
    color: rgb(245, 136, 196);
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 15px 30px;
}
nav ul li a{
    color: rgb(231, 228, 223);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color:rgb(245, 136, 196);
    transition: .4s;
}
/*Resume button*/
.btn{
background-color: rgb(245, 136, 196);
color: rgb(231, 228, 223);
text-decoration: none;
border: 2px solid transparent;
font-weight: bold;
padding: 10px 25px;
border-radius: 30px;
transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h3{
    color: rgb(245, 136, 196);
    margin: 10px 0px 10px;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    color: rgb(231, 228, 223);
    margin: 5px 0px 5px;
    font-size: 25px;

    /*intoductory form*/
}
.intro form{
     width: 380px;
     max-width: 100%;
     position: relative;
}
.intro form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 5px 100px 10px 10px;
    border: 4px solid rgb(245, 136, 196);
    outline: none;
    border-radius: 30px;
}
.intro form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 5px 25px;
    border-radius: 30px;
    background-color: rgb(245, 136, 196);
    color: rgb(231, 228, 223);
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}

/*About Section*/
.about{
    width: 100%;
    padding: 50px 0px;
    background-color: rgb(117, 43, 84);
}
.main{
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
h2{
    color: rgb(231, 228, 223);
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color:rgb(231, 228, 223);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 20px;
    margin-bottom: 45px;
}
.about{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 100%;
    align-items: right;
  }
  .flex-row {
    display: flex;
    justify-content: left;
  }
  
.section-title {
    font-size: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(231, 228, 223);
    margin: 0 0 0 80px;
    width: 50%;
    /*Projects section*/
  }
  .project {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(117, 43, 84);
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.title-project {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: rgb(231, 228, 223);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-style: normal;
    margin: 5px auto 20px auto;
    text-align: center;
    order: 0;
}
.top-project-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
    width: 100%;
}
.top-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    width: 60%;   
}
.project-1 {
    width: 100%; 
    margin-bottom: 0;
}
.top-card-text {
    color: rgb(231, 228, 223);
    background-color: rgb(117, 43, 84);
    text-decoration: none;
    text-align: center;
    font-style: normal;
    margin-top: 0;
    font-size: 20px;
}
.top-card:hover {
    opacity: 0.5;
    transition: opacity 0.5s;
    cursor: pointer;
}
.bottom-project-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 30px 10px 10px 10px;
    justify-content: center;
    width: 80%; 
}
.lower-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    width: 60%;
    margin: 20px;
    flex: 1;
}
.project-2 {
    width: 100%;
}
.lower-card-text {
    color: rgb(231, 228, 223);
    background-color: rgb(117, 43, 84);
    text-decoration: none;
    text-align: center;
    font-style: normal;
    margin-top: 0;
    font-size: 20px;
}
.project-3 {
    width: 100%;
}

.lower-card:hover {
    opacity: 0.5;
    transition: opacity 0.5s;
}
/*Contact*/
.contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(117, 43, 84);
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 30px;
}
.contact img{
    width: 50px;
}
.contact p{
    display: inline;
}
footer {
    background-color: rgb(117, 43, 84);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*media query for tablet when the screen is less than 900px wide*/
@media screen and (max-width: 900px) {

    .top-card {
        width: 70%;
    }
    .lower-card {
        width: 40%;
    }
    .intro form{
        width: 250px;
    }
    nav ul li{
        display:list-item;
        padding: 5px 15px;
    }
    .logo{
        font-size: 25px;
    }
    .intro form input:last-child{
        padding: 2px 10px;
        top: 6px;
        right: 6px;
    }
    .intro form input:first-child{
        padding: 2px 50px 5px 5px; 
    }
    .content h3{
        font-size: 22px;
    }
    .nav ul li a{
        padding-top: 15px;
    }
}
/*media query for smaller devices when the screen is less than 550px wide*/
@media screen and (max-width: 550px) {

    .top-card {
        width: 50%;
    }
    .lower-card {
        width: 20%;
    }
    .intro form{
        width: 150px;
    }
    nav ul li{
        display:list-item;
        padding: 2px 8px;
    }
    .logo{
        font-size: 15px;
    }
    .intro form input:last-child{
        padding: 0px 5px;
        top: 6px;
        right: 6px;
    }
    .intro form input:first-child{
        padding: 0px 25px 0px 0px; 
    }
    .content h3{
        font-size: 12px;
    }
    .nav ul li a{
        padding-top: 8px;
    }
}




